version: 2.1

jobs:
  #
  # Automated Tests
  #
  test-static-code-and-linting:
    machine:
      image: ubuntu-1604:202007-01 # Ubuntu 16.04, Docker v19.03.12, Docker Compose v1.26.1

      # This job has been blocked because Docker Layer Caching is not available on your plan.
      # Should upgrade if necessary.
      docker_layer_caching: false

    steps:
      - checkout

      - run:
          name: Context Info Cmds
          command: pwd && ls -ltra && git branch

      - run:
          name: Initialize Repo Makefiles
          command: |
            make init-makefiles
            git update-index --assume-unchanged "Makefile"

      - run:
          name: test-dependencies
          command: |
            #
            # Install pre-commit
            pip install pre-commit
            #
            # Install terraform
            sudo apt-get install unzip
            wget https://releases.hashicorp.com/terraform/${TERRAFORM_VER}/terraform_${TERRAFORM_VER}_linux_amd64.zip
            unzip terraform_${TERRAFORM_VER}_linux_amd64.zip
            sudo mv terraform /usr/local/bin/
            terraform --version
            #
            # Install terraform-docs
            sudo apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
            curl -Lo ./terraform-docs https://github.com/terraform-docs/terraform-docs/releases/download/v0.10.1/terraform-docs-v0.10.1-$(uname | tr '[:upper:]' '[:lower:]')-amd64
            chmod +x ./terraform-docs
            sudo mv ./terraform-docs /usr/local/bin/terraform-docs

      - run:
          name: test-terraform-format-and-docs-delegated-admin-mod
          command: |
            cd modules/delegated-admin && make pre-commit

      - run:
          name: test-terraform-format-and-docs-multiaccount-setup-mod
          command: |
            cd modules/multiaccount-setup && make pre-commit

      - run:
          name: Install awscli
          command: sudo -H pip install awscli

      - run:
          name: Configure awscli
          command: |
            # AWS credentials dir
            mkdir --parents /home/circleci/.aws/bb
            sudo chown -R $USER:$USER /home/circleci/.aws

            # AWS defautl awscli profile
            aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
            aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
            aws configure set region us-east-1
            aws configure set output json

            # AWS dev awscli profile
            aws configure set role_arn arn:aws:iam::$AWS_ACCOUNT_ID_SHARED:role/DeployMaster --profile $AWS_PROFILE_NAME
            aws configure set source_profile default --profile $AWS_PROFILE_NAME

            # moving credentials to specific project folder
            cp /home/circleci/.aws/credentials /home/circleci/.aws/bb/credentials
            cp /home/circleci/.aws/config /home/circleci/.aws/bb/config

      - run:
          name: test-terraform-linting-delegated-admin-mod
          command: |
            cd modules/delegated-admin && make tflint-deep

      - run:
          name: test-terraform-linting-multiaccount-setup-mod
          command: |
            cd modules/multiaccount-setup && make tflint-deep

      - slack/notify:
          event: fail
          mentions: '@leverage-support'
          template: basic_fail_1
          channel: 'tools-ci'
      - slack/notify:
          event: pass
          template: success_tagged_deploy_1
          channel: 'tools-ci'

  #
  # Release
  #
  release-version-with-changelog:
    machine:
      image: ubuntu-1604:202007-01
      docker_layer_caching: false

    environment:
      VERSION_NUMBER: patch # opts: patch, minor or major.

    steps:
      - checkout

      - run:
          name: Context Info Cmds
          command: pwd && ls -ltra && git branch

      - run:
          name: Initialize Repo Makefiles
          command: |
            make init-makefiles
            git update-index --assume-unchanged "Makefile"

      - run:
          name: Release New Version
          command: |
            if git status | grep 'nothing to commit, working tree clean'; then
              echo "==============================================================================================="
              echo "release-$VERSION_NUMBER-with-changelog-circleci"
              echo "==============================================================================================="
              git config --global user.email "$GIT_USER_EMAIL"
              git config --global user.name "$GIT_USER_NAME"
              make release-$VERSION_NUMBER-with-changelog-circleci
            else
              echo "==============================================================================================="
              echo "Changes in working directory pending to be pushed - please check 'git status' cmd output below "
              echo "==============================================================================================="
              echo "$(git status)"
              echo "==============================================================================================="
            fi

      - slack/notify:
          event: fail
          mentions: '@leverage-support'
          template: basic_fail_1
          channel: 'tools-ci'
      - slack/notify:
          event: pass
          template: success_tagged_deploy_1
          channel: 'tools-ci'

#
# CircleCI orbs are open-source, shareable packages of parameterizable reusable
# configuration elements, including jobs, commands, and executors.
#
orbs:
  sumologic: circleci/sumologic@1.0.6
  slack: circleci/slack@4.1.1

#
# Jobs workflow
#
workflows:
  version: 2
  test_and_release:
    jobs:
      - test-static-code-and-linting:
          context: binbashar-org-global-context
          filters:
            branches:
             ignore: # only branches matching the below regex filters will run
               - master
      - release-version-with-changelog:
          context: binbashar-org-global-context
          filters:
            branches:
             only: # only branches matching the below regex filters will run
               - master
      - sumologic/workflow-collector:
          context: binbashar-org-global-context
          requires:
            - release-version-with-changelog
